.header-nav {
  border: 2px solid lightsalmon;
  /* background-color: #ffa07a99; */
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.header-link {
  color: #333333;
  text-decoration: none;
  padding: 0 1em;
  margin-right: 0.5em;
}
