#highlight-article-card {
  color: black;
  width: 90vw;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(246, 250, 245);
  display: flex;
  padding: 0.5em;
  h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    font-size: 1em;
    font-weight: 500;
    margin: 0.2em 0;
  }

  img {
    border-radius: 5px;
    height: 5em;
    width: 7.5em;
  }

  #info {
    margin-left: 0.5em;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    p {
      margin-right: 1.5em;
    }
  }

  p {
    padding-top: 0.5em;
    font-size: 0.75em;
    height: 2em;
    vertical-align: middle;
    margin: 0;
  }
}

.article-card-link {
  text-decoration: none;
}
