#highlight-article-card {
  margin: 1em 0;
  border-radius: 5px;
  display: flex;
  h2 {
    font-size: 1em;
    font-weight: 500;
    margin: 0.2em 0;
    padding-bottom: 0.5em;
    background-color: lightsalmon;
    width: 5em;
    text-align: center;
    padding: 0.25em 0;
    border-radius: 5px;
  }

  .highlight-topic-link {
    text-decoration: none;
  }

  img {
    border-radius: 5px;
    height: 7.5em;
    width: 9em;
    object-fit: cover;
  }

  #info {
    margin-left: 0.5em;
    h1 {
      font-size: 1.1em;
      font-weight: 400;
      margin: 0.25em 0;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    p {
      margin-right: 1.5em;
      padding-bottom: 0.5em;
    }
  }

  p {
    font-size: 0.75em;
    height: 2em;
    vertical-align: middle;
    margin: 0;
  }
}

.article-card-link {
  text-decoration: none;
}

.highlight-title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.25em 0;
}
